<% @page_title = "test-app | Employee Profile" %>
<h1>Employee profile</h1>
<p>
<strong>Name :</strong> <%= @employee.name %><br />
<strong>Email :</strong> <%= @employee.email %><br />
<strong>Employee ID :</strong> <%= @employee.employeeid %><br />
</p>
