

<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Type</Data></Cell>
        <Cell><Data ss:Type="String">Assigned to</Data></Cell>
      </Row>
    <% @assets.each do |asset| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= asset.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= asset.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= asset.types %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= asset.employee.name %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

