<% @page_title = "test-app | Owner Profile" %>
<h1>Owner profile</h1>
<p>
<strong>Name :</strong> <%= @owner.name %><br />
<strong>Client :</strong> <%= @owner.client %><br />
<strong>Process :</strong> <%= @owner.process %><br />
</p>